---
import Root from '@/layouts/root.astro';

const title = 's';
const description = 'h';
---

<Root title={title} description={description}>
	<p class="text-5xl text-center">Hello World!</p>
</Root>
