---
import Root from '@/layouts/root.astro';

const title = "DameG's Portfolio";
const description = "Home page of DameG's Portfolio";
---

<Root title={title} description={description}>
	<p class="text-5xl text-center">Hello World!</p>
</Root>
