---
import '@fontsource/geist-mono';
import '@fontsource/geist-sans';
import '@/styles/globals.css';
import { ClientRouter } from 'astro:transitions';
import Analytics from '@/components/general/analytics.astro';
import Footer from '@/components/general/footer';
import Header from '@/components/general/header';
import ReactRoot from './reactRoot';

interface RootProps {
	title: string;
	description: string;
}
const { title, description } = Astro.props as RootProps;
---

<!doctype html>
<html lang="en">
	<head>
		<Analytics id="G-8TML7V54XG" />
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta
			name="viewport"
			content="width=device-width"
		/>
		<link
			rel="icon"
			type="image/svg+xml"
			href="/favicon.svg"	
		/>
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<ClientRouter />
	</head>
	<body
		class=" font-sans text-primary-foreground bg-primary relative antialiased no-scrollbar"
	>
		<ReactRoot page={Astro.url.pathname} client:load>
			<slot />
		</ReactRoot>
	</body>
</html>
